<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!--<register type="Namespace.Interface, assembly" mapTo="Namespace.ImplClass, Assembly"></register>-->
    <register type="Rideally.Data.Repository.IUnitOfWork,Rideally.Data.Repository" mapTo="Rideally.Data.EFRepository.EFUnitOfWork,Rideally.Data.EFRepository"></register>
    <register type="Rideally.Business.Contract.IAddressManager,Rideally.Business.Contract" mapTo="Rideally.Business.Impementation.AddressManager,Rideally.Business.Impementation"></register>
    <register type="Rideally.Business.Contract.IEmployeeManager,Rideally.Business.Contract" mapTo="Rideally.Business.Impementation.EmployeeManager,Rideally.Business.Impementation"></register>
    <register type="Rideally.Business.Contract.IRiderMasterManager,Rideally.Business.Contract" mapTo="Rideally.Business.Impementation.RiderMasterManager,Rideally.Business.Impementation"></register>
    <register type="Rideally.Business.Contract.IVehicleManager,Rideally.Business.Contract" mapTo="Rideally.Business.Impementation.VehicleManager,Rideally.Business.Impementation"></register>
    <register type="Rideally.Business.Contract.IScheduleManager,Rideally.Business.Contract" mapTo="Rideally.Business.Impementation.ScheduleManager,Rideally.Business.Impementation"></register>
    <register type="Rideally.Business.Contract.INotificationManager,Rideally.Business.Contract" mapTo="Rideally.Business.Impementation.NotificationManager,Rideally.Business.Impementation"></register>
  </container>
</unity>